.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none; position: absolute;
}
.dropdown-content2{
    display: none; position: absolute;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown2:hover .dropdown-content2{
    display: block;
}