.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 100px 1fr 100px 50px;
    grid-template-columns: 300px 1fr 300px;
    grid-template-areas:"header header header"
                        "menu side1 side1" 
                        "menu main side2" 
                        "menu main side3"
                        "footer footer footer";
    grid-gap: 10px; 
    margin-bottom: 5px;
}
.container > div{
    display: grid;
    border: 1px solid black;
    align-items: center;
    justify-items: center;
}
.header{
    background-color: gray;
    grid-area: header;
}
.menu{
    background-color: gray;
    grid-area: menu;
}
.main{
    background-color: gray;
    grid-area: main;
}
.side1{
    background-color: gray;
    grid-area: side1;
}
.side2{
    background-color: gray;
    grid-area: side2;
}
.side3{
    background-color: gray;
    grid-area: side3;
}
.footer{
    background-color: gray;
    grid-area: footer;
}
@media screen and (max-width:575px){ /*모바일로 볼때 나오게하는법*/
    .container{
       
 grid-template-columns: 1fr;
 grid-template-rows: 100px 50px 1fr 30px  30px;
 grid-template-areas: "header"
                    "menu"
                      "main"
                      "side1"
                      "footer";

    
}
.conteaner > .side2,.side3{
    display: block;
    display: none;
}

}