*{
    box-sizing: border-box;
}
.container{
    background-color: lightgray;
    height: 100vh;
   display: flex;
   flex-direction: column;
   border: 1px solid black;
   margin: 5px;
   justify-content: space-around;
}
.container > div{
    
    display: flex;
    align-items: center;
    justify-content: center;
    border:  1px solid black;
    background-color: gray;
    margin: 10px;
}
#content{
    
    flex-basis: 80%;
    display: flex;
    
}
#content > div{
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 10px;
    
}
.header{
    flex-basis: 10%;
}
.menu{
    flex-grow: 1;
    flex-shrink: 3;
}
.main{
    flex-grow: 1;
    flex-shrink: 2;
}
.side{
    flex-grow: 1;
    flex-shrink: 1;
}
.footer{
    flex-basis: 10%;
}

@media screen and (max-width: 500px){
    .container{
        display: flex;
        flex-direction: column;
    }
    #content{
        
        display: flex;
        flex-direction: column;
    }
    #content > .menu{
        display: none;
    }
    #content > .side{
        display: none;
    }
        
    
}