body{
    background: rgb(9,100,160);
    min-height:  100vh;
    min-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container > div{
    display: flex;
    background-color: white;
    width: 200px;
    height: 200px;
    align-items: center;
    text-align: center;
    font-size: large;
    font-weight: bold;
    
}
img{
    width: 200px;
    height: 200px;
}
#container{
    display: flex;
    margin: 10px;
}
@media screen and (max-width:565px) {
    body{
        display: flex;
        flex-direction: column;
    }
    #container{
        display: flex;
        flex-direction: column;
        
    }
}
@media screen and (max-width:750px) {
    body{
        display: flex;
        flex-direction: column;
    }
}
